@{
    ViewData["Title"] = "Registration";
}

<h3>Get Customer</h3>

<form asp-action="List" method="get">
    <div class="form-group">
        <select class="form-select" id="uxCustomer" asp-items="ViewBag.Customers">
            <option selected>Select Customer</option>
        </select>
    </div>
    <button type="submit" class="btn btn-warning" asp-controller="Registration" asp-action="List">Select</button>
</form>
