@{
    ViewData["Title"] = "Admin";
}

    <div class="jumbotron bg-info mt-4">
        <h1 class="text-light text-center">About Us</h1>
        <p class="text-light text-center">SportsPro Technical Support is simply a Sports management software for the sports enthusiast. we constantly strives to provide the highest level of technical support for all products in the SportsPro family.</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <img src="~/Images/baseball.jpg" style=" height: 320px; width: auto" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contact Information</h5>
                    <p class="card-text">Reach out to us and we would be glad to support in the best way we can.</p>
                    <address>
                        SportsPro<br />
                        Box 123<br />
                        Inland Lake, Arizona<br />
                        86038<br />
                        <abbr title="Phone">(Office ph) </abbr>
                        928-555-2234<br />
                        <abbr title="Phone">(Leasing ph)</abbr>
                        928-555-2235<br />
                        <abbr title="Phone">(fax) </abbr>
                        928-555-2236
                    </address>

                    <address>
                        <strong>Manager: </strong>   Glenn Cooke<br />
                        <strong>Slip Manager: </strong>   Kimberley Carson<br />
                        <strong>Contact email:  </strong> <a href="info@sportspro.com">info@sportspro.com</a>
                    </address>
                    <a href="#" class="btn btn-primary">Click to send us a mail</a>
                </div>
            </div>
        </div>
    </div>